/* RESPONSIVE  */

@media screen and (max-width: 420px) {
   
    #lezioni .row>.left,
    #lezioni .row>.right{
        width: 100%;
        float: none;
        margin: 10px auto;
    }

    #lezioni .row{
        background-color:  #F2F2CD; 
    }

    #why .row{
        background-color:  #F2F2CD; 
    }

    #steps .row>.left,
    #steps .row>.right,
    #steps .row>.center{
        float: none;
        width: 100%;
        margin: 10px auto;
    }
    
    

}

